<app-header></app-header>

<div class="container">
  <div class="column">
    <div class="news" *ngFor="let news of feed; trackBy: trackByNewsId">
      <div class="photo-container">
        <img *ngIf="news.image; else imageNotFound" [src]="news.image" class="photo" />
        <ng-template #imageNotFound>
          <img src="assets/no-image.png" class="photo" />  
        </ng-template>
      </div>

      <div class="news-info">
        <h1 class="title">{{ news.title }}</h1>

        <div class="body" [innerHTML]="news.shortBody"></div>
        <div class="show-more" *ngIf="news.isExpandable"><a [routerLink]="news.id">Leer más...</a></div>
      </div>

    </div>

  </div>
</div>