<app-header></app-header>

<div class="container">
  <div class="column">
    <div class="news" *ngFor="let news of feed">
      <div class="photo-container">
        <img [src]="news.image" class="photo" />
      </div>

      <div class="news-info">
        <h1 class="title">{{ news.title }}</h1>

        <div class="section-subtitle">
          <div class="item">
            <span>
              <strong>Fuente: </strong>
            </span>
            <span>{{ news.source }}</span>
          </div>

          <div class="item">
            <span>
              <strong>Editor: </strong>
            </span>
            <span>{{ PublisherName[+news.publisher] }}</span>
          </div>
        </div>

        <div class="body" [innerHTML]="news.body"></div>
      </div>

    </div>

  </div>
</div>