<app-header></app-header>

<div class="container">
  <div class="column">
    <div class="news">
      <div class="photo-container">
        <img src="http://via.placeholder.com/640x360" class="photo" />
      </div>

      <div class="news-info">
        <h1 class="title">TITLE</h1>

        <div class="section-subtitle">
          <div class="item">
            <span>
              <strong>Source: </strong>
            </span>
            <span>SOURCE</span>
          </div>

          <div class="item">
            <span>
              <strong>Publisher: </strong>
            </span>
            <span>PUBLISHER</span>
          </div>
        </div>

        <div class="body">BODY</div>
      </div>

    </div>

  </div>
</div>