.container {
  padding: 16px;
}

.new {
  .photo {
    display: inline-block;
    max-width: 350px;
  }

  &-info {
    display: inline-block;
    vertical-align: top;
    margin: auto;
    padding: 16px;

    .title {
      font-size: 32px;
      color: #333;
    }

    .section-subtitle {
      margin-bottom: 16px;
    }

    .body {
      margin-top: 16px;
    }
  }
}


