.container {
  width: 100%;

  background-color: #f7f7f7;

  .column {
    width: 80%;
    padding: 16px;
    margin: auto;
    background-color: #fff;
  }

  .news {
    width: 50%;
    margin: auto;
    margin-bottom: 24px;
    padding: 16px;
    display: block;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 4px;


    .photo-container {
      width: 100%;
      text-align: center;

      .photo {
        max-width: 200px;
      }
    }

    &-info {
      text-align: center;
      margin: auto;
      padding: 16px;

      .title {
        font-size: 32px;
        color: #333;
      }

      .section-subtitle {
        margin-bottom: 16px;
      }

      .body {
        margin-top: 16px;
      }
    }
  }
}
