.container {
  width: 100%;

  background-color: #f7f7f7;

  .column {
    width: 80%;
    padding: 16px;
    margin: auto;
    background-color: #fff;

    .photo-container {
      width: 100%;
      text-align: center;
      margin-bottom: 36px;

      .photo {
        max-height: 30%;
      }
    }
  }
}
